In [1]:
import pandas as pd
import numpy as np
import warnings 
warnings.filterwarnings('ignore')

In [2]:
fileName1='incidence-rate-data.xlsx - Data.csv'
fileName2='coverage-data.xlsx'
fileName3='vaccine-schedule-data.xlsx'
fileName4='vaccine-introduction-data.xlsx'
fileName5='reported-cases-data.xlsx'

In [3]:
Incidence_data=pd.read_csv(fileName1)
Coverage_data=pd.read_excel(fileName2)
schedule_data=pd.read_excel(fileName3)
intro_data=pd.read_excel(fileName4)
report_case_data=pd.read_excel(fileName5)

In [4]:
Incidence_data.isnull().sum()

GROUP                      0
CODE                       1
NAME                       1
YEAR                       1
DISEASE                    1
DISEASE_DESCRIPTION        1
DENOMINATOR                1
INCIDENCE_RATE         23362
dtype: int64

In [5]:
Incidence=Incidence_data[~Incidence_data.CODE.isnull()]

In [6]:
Incidence.isnull().sum()

GROUP                      0
CODE                       0
NAME                       0
YEAR                       0
DISEASE                    0
DISEASE_DESCRIPTION        0
DENOMINATOR                0
INCIDENCE_RATE         23361
dtype: int64

In [7]:
Incidence['INCIDENCE_RATE'].notnull().sum()

61584

In [8]:
Incidence['INCIDENCE_RATE'].isnull().sum()

23361

In [9]:
Incidence['INCIDENCE_RATE'].info()

<class 'pandas.core.series.Series'>
Index: 84945 entries, 0 to 84944
Series name: INCIDENCE_RATE
Non-Null Count  Dtype
--------------  -----
61584 non-null  float64
dtypes: float64(1)
memory usage: 1.3 MB

In [10]:
Incidence['INCIDENCE_RATE'].describe()

count    61584.000000
mean       109.448781
std        992.276983
min          0.000000
25%          0.000000
50%          0.000000
75%          4.600000
max      69101.300000
Name: INCIDENCE_RATE, dtype: float64

In [11]:
Incidence['INCIDENCE_RATE']=Incidence['INCIDENCE_RATE'].fillna(method='ffill')

In [12]:
Incidence.notnull().sum()

GROUP                  84945
CODE                   84945
NAME                   84945
YEAR                   84945
DISEASE                84945
DISEASE_DESCRIPTION    84945
DENOMINATOR            84945
INCIDENCE_RATE         84945
dtype: int64

In [13]:
Incidence.isnull().sum()

GROUP                  0
CODE                   0
NAME                   0
YEAR                   0
DISEASE                0
DISEASE_DESCRIPTION    0
DENOMINATOR            0
INCIDENCE_RATE         0
dtype: int64

In [14]:
Incidence.to_csv("incidence_rate.csv",index=False)

In [15]:
Incidence.shape

(84945, 8)

In [16]:
data_inc=pd.read_csv('incidence_rate.csv')

In [17]:
data_inc.shape

(84945, 8)

In [18]:
data_inc.head()

,GROUP,CODE,NAME,YEAR,DISEASE,DISEASE_DESCRIPTION,DENOMINATOR,INCIDENCE_RATE
0,COUNTRIES,ABW,Aruba,2023.0,CRS,Congenital rubella syndrome,"per 10,000 live births",0.0
1,COUNTRIES,ABW,Aruba,2023.0,DIPHTHERIA,Diphtheria,"per 1,000,000 total population",0.0
2,COUNTRIES,ABW,Aruba,2023.0,INVASIVE_MENING,Invasive meningococcal disease,"per 1,000,000 total population",9.3
3,COUNTRIES,ABW,Aruba,2023.0,MEASLES,Measles,"per 1,000,000 total population",9.3
4,COUNTRIES,ABW,Aruba,2023.0,MUMPS,Mumps,"per 1,000,000 total population",0.0

In [19]:
Coverage_data.isnull().sum()

GROUP                                 0
CODE                                  1
NAME                               1275
YEAR                                  1
ANTIGEN                               1
ANTIGEN_DESCRIPTION                   1
COVERAGE_CATEGORY                     1
COVERAGE_CATEGORY_DESCRIPTION         1
TARGET_NUMBER                    320829
DOSES                            320532
COVERAGE                         169382
dtype: int64

In [20]:
Coverage_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 399859 entries, 0 to 399858
Data columns (total 11 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   GROUP                          399859 non-null  object
 1   CODE                           399858 non-null  object
 2   NAME                           398584 non-null  object
 3   YEAR                           399858 non-null  float64
 4   ANTIGEN                        399858 non-null  object
 5   ANTIGEN_DESCRIPTION            399858 non-null  object
 6   COVERAGE_CATEGORY              399858 non-null  object
 7   COVERAGE_CATEGORY_DESCRIPTION  399858 non-null  object
 8   TARGET_NUMBER                  79030 non-null   float64
 9   DOSES                          79327 non-null   float64
 10  COVERAGE                       230477 non-null  float64
dtypes: float64(4), object(7)
memory usage: 33.6+ MB

In [21]:
Coverage_data.describe()

                YEAR  TARGET_NUMBER         DOSES       COVERAGE
count  399858.000000   7.903000e+04  7.932700e+04  230477.000000
mean     2009.207489   2.780192e+08  3.467241e+06      78.032914
std        11.720530   5.415244e+10  1.125676e+07      74.891697
min      1980.000000   0.000000e+00 -2.222882e+08       0.000000
25%      2002.000000   3.281400e+04  1.446900e+04      69.320000
50%      2012.000000   3.178715e+05  1.522120e+05      88.790000
75%      2019.000000   2.493048e+06  9.710185e+05      96.000000
max      2023.000000   1.170000e+13  1.266052e+08   32000.000000

In [22]:
Coverage_data['NAME'].head(15)

0     Aruba
1     Aruba
2     Aruba
3     Aruba
4     Aruba
5     Aruba
6     Aruba
7     Aruba
8     Aruba
9     Aruba
10    Aruba
11    Aruba
12    Aruba
13    Aruba
14    Aruba
Name: NAME, dtype: object

In [23]:
Coverage_data['NAME']=Coverage_data['NAME'].fillna(method='ffill')

In [24]:
Coverage_data['NAME'].notnull()

0         True
1         True
2         True
3         True
4         True
          ...
399854    True
399855    True
399856    True
399857    True
399858    True
Name: NAME, Length: 399859, dtype: bool

In [25]:
Coverage_data['NAME'].isnull().sum()

0

In [26]:
#extract object column
#Coverage_data.select_dtypes(include="object")

In [27]:
# fill the object values with their forward value
for i in Coverage_data.select_dtypes(include="object"):
    Coverage_data[i]=Coverage_data[i].fillna(method='ffill')

In [28]:
Coverage_data.isnull().sum()

GROUP                                 0
CODE                                  0
NAME                                  0
YEAR                                  1
ANTIGEN                               0
ANTIGEN_DESCRIPTION                   0
COVERAGE_CATEGORY                     0
COVERAGE_CATEGORY_DESCRIPTION         0
TARGET_NUMBER                    320829
DOSES                            320532
COVERAGE                         169382
dtype: int64

In [29]:
for values in Coverage_data.select_dtypes(include="float"):
    Coverage_data[values]=Coverage_data[values].fillna(method='bfill')

In [30]:
Coverage_data.isnull().sum()

GROUP                            0
CODE                             0
NAME                             0
YEAR                             1
ANTIGEN                          0
ANTIGEN_DESCRIPTION              0
COVERAGE_CATEGORY                0
COVERAGE_CATEGORY_DESCRIPTION    0
TARGET_NUMBER                    1
DOSES                            1
COVERAGE                         1
dtype: int64

In [31]:
Coverage_data.to_csv("Coverage_data.csv",index=False)

In [32]:
Coverage_data.shape

(399859, 11)

In [33]:
data_cov=pd.read_csv("Coverage_data.csv")

In [34]:
data_cov.head()

,GROUP,CODE,NAME,YEAR,ANTIGEN,ANTIGEN_DESCRIPTION,COVERAGE_CATEGORY,COVERAGE_CATEGORY_DESCRIPTION,TARGET_NUMBER,DOSES,COVERAGE
0,COUNTRIES,ABW,Aruba,2023.0,BCG,BCG,ADMIN,Administrative coverage,1044.0,945.0,90.52
1,COUNTRIES,ABW,Aruba,2023.0,BCG,BCG,OFFICIAL,Official coverage,1044.0,945.0,90.52
2,COUNTRIES,ABW,Aruba,2023.0,DIPHCV4,"Diphtheria-containing vaccine, 4th dose (1st b...",ADMIN,Administrative coverage,1044.0,945.0,90.52
3,COUNTRIES,ABW,Aruba,2023.0,DIPHCV4,"Diphtheria-containing vaccine, 4th dose (1st b...",OFFICIAL,Official coverage,1219.0,1008.0,90.52
4,COUNTRIES,ABW,Aruba,2023.0,DIPHCV5,"Diphtheria-containing vaccine, 5th dose (2nd b...",ADMIN,Administrative coverage,1219.0,1008.0,82.69

In [35]:
schedule_data.isnull().sum()

ISO_3_CODE                  0
COUNTRYNAME                 1
WHO_REGION                  1
YEAR                        1
VACCINECODE                 1
VACCINE_DESCRIPTION         1
SCHEDULEROUNDS              1
TARGETPOP                4258
TARGETPOP_DESCRIPTION       1
GEOAREA                    31
AGEADMINISTERED          1046
SOURCECOMMENT            2914
dtype: int64

In [36]:
# all the object data which is null
schedule_data.select_dtypes(include='object').isnull().sum()

ISO_3_CODE                  0
COUNTRYNAME                 1
WHO_REGION                  1
VACCINECODE                 1
VACCINE_DESCRIPTION         1
TARGETPOP                4258
TARGETPOP_DESCRIPTION       1
GEOAREA                    31
AGEADMINISTERED          1046
SOURCECOMMENT            2914
dtype: int64

In [37]:
for i in schedule_data.select_dtypes(include='object'):
    schedule_data[i]=schedule_data[i].fillna(method='ffill')

In [38]:
schedule_data.isnull().sum()

ISO_3_CODE               0
COUNTRYNAME              0
WHO_REGION               0
YEAR                     1
VACCINECODE              0
VACCINE_DESCRIPTION      0
SCHEDULEROUNDS           1
TARGETPOP                3
TARGETPOP_DESCRIPTION    0
GEOAREA                  0
AGEADMINISTERED          0
SOURCECOMMENT            6
dtype: int64

In [39]:
# fill float values
for j in schedule_data.select_dtypes(include='float'):
    schedule_data[j]=schedule_data[j].fillna(method='bfill')

In [40]:
schedule_data['TARGETPOP'].dtypes

dtype('O')

In [41]:
schedule_data.isnull().sum()

ISO_3_CODE               0
COUNTRYNAME              0
WHO_REGION               0
YEAR                     1
VACCINECODE              0
VACCINE_DESCRIPTION      0
SCHEDULEROUNDS           1
TARGETPOP                3
TARGETPOP_DESCRIPTION    0
GEOAREA                  0
AGEADMINISTERED          0
SOURCECOMMENT            6
dtype: int64

In [42]:
schedule_data.shape

(8053, 12)

In [43]:
schedule_data.to_csv("Schedule.csv")

In [44]:
sch_data= pd.read_csv("Schedule.csv")

In [45]:
sch_data.head()

,Unnamed: 0,ISO_3_CODE,COUNTRYNAME,WHO_REGION,YEAR,VACCINECODE,VACCINE_DESCRIPTION,SCHEDULEROUNDS,TARGETPOP,TARGETPOP_DESCRIPTION,GEOAREA,AGEADMINISTERED,SOURCECOMMENT
0,0,ABW,Aruba,AMRO,2023.0,DTAPHIBIPV,DTaP-Hib-IPV (acellular) vaccine,1.0,NaN,General/routine,NATIONAL,M2,NaN
1,1,ABW,Aruba,AMRO,2023.0,DTAPHIBIPV,DTaP-Hib-IPV (acellular) vaccine,2.0,NaN,General/routine,NATIONAL,M4,NaN
2,2,ABW,Aruba,AMRO,2023.0,DTAPHIBIPV,DTaP-Hib-IPV (acellular) vaccine,3.0,NaN,General/routine,NATIONAL,M6,NaN
3,3,ABW,Aruba,AMRO,2023.0,DTAPHIBIPV,DTaP-Hib-IPV (acellular) vaccine,4.0,B_2YL_W,General/routine,NATIONAL,M15,NaN
4,4,ABW,Aruba,AMRO,2023.0,DTAPIPV,DTaP-IPV (acellular) vaccine,5.0,B_CHILD_W,General/routine,NATIONAL,Y4,NaN

In [46]:
intro_data.isnull().sum()

ISO_3_CODE     0
COUNTRYNAME    1
WHO_REGION     1
YEAR           1
DESCRIPTION    1
INTRO          1
dtype: int64

In [47]:
intro_data.select_dtypes(include='object').isnull().sum()

ISO_3_CODE     0
COUNTRYNAME    1
WHO_REGION     1
DESCRIPTION    1
INTRO          1
dtype: int64

In [48]:
for i in intro_data.select_dtypes(include='object'):
    intro_data[i].fillna(intro_data[i].mode()[0],inplace=True)

In [49]:
intro_data.isnull().sum()

ISO_3_CODE     0
COUNTRYNAME    0
WHO_REGION     0
YEAR           1
DESCRIPTION    0
INTRO          0
dtype: int64

In [50]:
intro_data['YEAR']=intro_data['YEAR'].fillna(method='ffill')

In [51]:
intro_data.isnull().sum()

ISO_3_CODE     0
COUNTRYNAME    0
WHO_REGION     0
YEAR           0
DESCRIPTION    0
INTRO          0
dtype: int64

In [52]:
intro_data.to_csv('Intro.csv',index=False)

In [53]:
data_intro=pd.read_csv("Intro.csv")

In [54]:
report_case_data.isnull().sum()

GROUP                      0
CODE                       1
NAME                       1
YEAR                       1
DISEASE                    1
DISEASE_DESCRIPTION        1
CASES                  19400
dtype: int64

In [55]:
for i in report_case_data.select_dtypes(include="object"):
        report_case_data[i]=report_case_data[i].fillna(method='bfill')

In [56]:
report_case_data['CASES']=report_case_data['CASES'].fillna(method='ffill')

In [57]:
report_case_data.isnull().sum()

GROUP                  0
CODE                   1
NAME                   1
YEAR                   1
DISEASE                1
DISEASE_DESCRIPTION    1
CASES                  0
dtype: int64

In [58]:
report_case_data['YEAR']=report_case_data['YEAR'].fillna(method='ffill')

In [59]:
report_case_data.isnull().sum()

GROUP                  0
CODE                   1
NAME                   1
YEAR                   0
DISEASE                1
DISEASE_DESCRIPTION    1
CASES                  0
dtype: int64

In [60]:
report_case=report_case_data.to_csv("report.csv")

In [61]:
import pymysql

In [62]:
conn=pymysql.connect(host='localhost',user='root',password='789456ujjwal@',database='vaccine_analysis')
cursor=conn.cursor()

In [69]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS New_Incidence_data (
            GROUP_Name VARCHAR(100),
            CODE VARCHAR(100),
            NAME VARCHAR(50),
            YEAR DECIMAL(5,1),
            DISEASE VARCHAR(100),
            DISEASE_DESCRIPTION VARCHAR(150),
            DENOMINATOR VARCHAR(100),
            INCIDENCE_RATE DECIMAL(10,5)
        )
    """
              )

0

In [64]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS new_data_Coverage (
        GROUP_Name VARCHAR(100),
        CODE VARCHAR(100),
        NAME TEXT,
        YEAR DECIMAL(15,2),
        ANTIGEN VARCHAR(100),
        ANTIGEN_DESCRIPTION VARCHAR(100),
        COVERAGE_CATEGORY VARCHAR(100),
        COVERAGE_CATEGORY_DESCRIPTION VARCHAR(150),
        TARGET_NUMBER DECIMAL(15,2),
        DOSES DECIMAL(15,2),
        COVERAGE DECIMAL(5,2)
    )
""")

0

In [65]:
cursor.execute( """
        CREATE TABLE IF NOT EXISTS new_data_schedule (
            ISO_3_CODE VARCHAR(100),
            COUNTRYNAME VARCHAR(100),
            WHO_REGION VARCHAR(100),
            YEAR DECIMAL(5,1),
            VACCINECODE VARCHAR(50),
            VACCINE_DESCRIPTION TEXT,
            SCHEDULEROUNDS TEXT,
            TARGETPOP VARCHAR(50),
            TARGETPOP_DESCRIPTION TEXT,
            GEOAREA VARCHAR(50),
            AGEADMINISTERED DECIMAL(5,2),
            SOURCECOMMENT TEXT
        )
        """
              )

0

In [66]:
cursor.execute("""
            CREATE TABLE IF NOT EXISTS new_data_Intro (
            ISO_3_CODE VARCHAR(5),
            COUNTRYNAME TEXT,
            WHO_REGION VARCHAR(10),
            YEAR DECIMAL(5,2),
            DESCRIPTION TEXT
        )
    """)

0

In [67]:
cursor.execute("Drop TABLE new_data_Coverage ")
conn.commit()

In [71]:
insert_query="""
        INSERT INTO New_Incidence_data (GROUP_Name, CODE, NAME, YEAR, DISEASE, DISEASE_DESCRIPTION, DENOMINATOR, INCIDENCE_RATE)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
    """
for i,row in data_inc.iterrows():
    values=(row['GROUP'],row['CODE'],row['NAME'],row['YEAR'],row['DISEASE'],row['DISEASE_DESCRIPTION'],row['DENOMINATOR'],row['INCIDENCE_RATE'])
    cursor.execute(insert_query,values)
    conn.commit()

DataError: (1406, "Data too long for column 'NAME' at row 1")

In [ ]:
insert_query = """
        INSERT INTO new_data_Coverage (GROUP_Name, CODE, NAME, YEAR, ANTIGEN, ANTIGEN_DESCRIPTION, COVERAGE_CATEGORY, 
        COVERAGE_CATEGORY_DESCRIPTION, TARGET_NUMBER, DOSES, COVERAGE)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """
for i, row in data_cov.iterrows():
    values=(row['GROUP'],row['CODE'],row['NAME'],row['YEAR'],row['ANTIGEN'],row['ANTIGEN_DESCRIPTION'],row['COVERAGE_CATEGORY'],
             row['COVERAGE_CATEGORY_DESCRIPTION'],row['TARGET_NUMBER'],row['DOSES'],row['COVERAGE'])
    cursor.execute(insert_query,values)
    conn.commit()

In [ ]:
insert_query="""
        INSERT INTO new_data_schedule (ISO_3_CODE, COUNTRYNAME, WHO_REGION, YEAR, VACCINECODE, VACCINE_DESCRIPTION, 
        SCHEDULEROUNDS, TARGETPOP, TARGETPOP_DESCRIPTION, GEOAREA, AGEADMINISTERED, SOURCECOMMENT)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """
for i,row in sch_data.iterrows():
    values=(row['ISO_3_CODE'],row['COUNTRYNAME'],row['WHO_REGION'],row['YEAR'],row['VACCINECODE'],row['VACCINE_DESCRIPTION'],
            row['SCHEDULEROUNDS'],row['TARGETPOP'],row['TARGETPOP_DESCRIPTION'],row['GEOAREA'],row['AGEADMINISTERED'],row['SOURCECOMMENT'])
    cursor.execute(insert_query,values)
    conn.commit()

In [ ]:
insert_query="""
        INSERT INTO new_data_Intro (ISO_3_CODE, COUNTRYNAME, WHO_REGION, YEAR, DESCRIPTION)
        VALUES (%s, %s, %s, %s, %s)
    """
for i,row in data_intro.iterrows():
    values=(row['ISO_3_CODE'],row['COUNTRYNAME'],row['WHO_REGION'],row['YEAR'],row['DESCRIPTION'])
    cursor.execute(insert_query,values)
    conn.commit()

In [ ]:
data_inc.columns

In [ ]:
data_cov.columns